<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table style="border: 10px;">
        <tr >
            <th>Date</th>
            <th>Description</th>
            <th>Credit</th>
            <th>Debit</th>
            <th>Running</th>
    
    
        </tr>
        <tr *ngFor="let transaction of data">
            <td>{{transaction.date}}</td>
            <td>{{transaction.description}}</td>
            <td>{{transaction.creditAmount}}</td>
            <td>{{transaction.debitAmount}}</td>
            <td>{{transaction.runningBalance}}</td>
        </tr>
       
    </table>

    
</body>
</html>



